@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@import "_variables";
@import "_elements";

* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: "Noto Sans KR", sans-serif;
}

header {
  width: 100%;
}

.page-header {
  width: 100%;
  height: 100px;
  .pre-header {
    padding: 0 $mainPadding;
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    .logo-jordan {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
      width: 50%;
      img {
        width: 20px;
      }
    }
    .pre-header__nav ul {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li {
        font-size: 12px;
        margin: 0 5px;
      }
      .divider {
        display: block;
        width: 1px;
        background-color: rgba(0, 0, 0, 0.7);
        height: 10px;
      }
    }
  }
  .main-header {
    display: flex;
    padding: 0 $mainPadding;
    width: 100%;
    height: 65%;
    background-color: white;
    font-size: 14px;
    .main-header__col {
      width: 33%;
      display: flex;
      align-items: center;
      &:first-child {
        justify-content: flex-start;
        img {
          width: 60px;
          vertical-align: middle;
        }
      }
      &:nth-child(2) {
        ul {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          font-size: 16px;
        }
      }
      &:last-child {
        display: flex;
        justify-content: flex-end;
        position: relative;
        .search-box {
          i {
            font-size: 22px;
            position: absolute;
            opacity: 0.8;
            top: 22px;
            right: 243px;
          }
          input {
            height: 40px;
            width: 180px;
            border-radius: 30px;
            background-color: #f5f5f5;
            margin-right: 30px;
            border: none;
            padding: 0 45px;

            &::placeholder {
              color: rgba(0, 0, 0, 0.6);
              font-size: 17px;
            }
          }
        }
        .likes-shoppingbag {
          display: flex;
          align-items: center;
          i {
            cursor: pointer;
            font-size: 23px;
            color: black;
            opacity: 0.4;
            &:last-child {
              margin-left: 22px;
            }
            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }
}

main {
  padding: 0 $mainPadding;
  display: grid;
  row-gap: 10vh;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(1, auto);
  grid-auto-flow: row;
  .promotion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .promotion-img {
      width: 100%;
      object-fit: contain;
      img {
        width: 100%;
      }
    }
    .promotion-texts {
      @extend %promotion-texts;
    }
  }
  .weekly-styling {
    display: flex;
    flex-direction: column;
    .sub-header {
      @extend %sub-header;
    }
    .weekly-styling__container {
      object-fit: contain;
      video {
        width: 100%;
      }
    }
    .promotion-texts {
      @extend %promotion-texts;
    }
  }
}

.trending-now {
  .sub-header {
    @extend %sub-header;
  }
  .trending-now__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 120vh;
    column-gap: 15px;
    .trending-now__col {
      width: 100%;
      position: relative;
      .trending-now__img {
        width: 100%;
        height: 100%;
        background-position: center center;
        background-size: auto;
      }
      .first {
        background-image: url("https://static-breeze.nike.co.kr/kr/ko_kr//cmsstatic/structured-content/65250/210225_hp_p7_bg1.jpg");
      }
      .second {
        background-image: url("https://static-breeze.nike.co.kr/kr/ko_kr//cmsstatic/structured-content/65250/210304_nsw_p6_bg2.jpg");
      }
      .overlay-texts {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 45px;
        height: 30vh;
        justify-content: center;
        align-items: flex-start;
        z-index: 1;
        position: absolute;
        bottom: 0;
        left: 0;
        h3 {
          color: white;
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 25px;
        }
        .buttons {
          .button-white {
            width: 115px;
            @extend %button-white;
          }
        }
      }
    }
  }
}

.featured-sheos {
  .sub-header {
    @extend %sub-header;
  }
  .featured-shoes__grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 33%);
    grid-row: 90vh;
    grid-auto-flow: column;

    column-gap: 15px;
    box-sizing: border-box;
    .featured-shoes__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      .featured-shoes__img {
        width: 100%;
        object-fit: contain;
        margin-bottom: 20px;
        img {
          width: 100%;
          height: 70vh;
        }
      }
      .featured-shoes__texts {
        display: flex;
        flex-direction: column;
        line-height: 1.7;

        h3 {
          font-size: 18px;
          font-weight: 500;
        }
        h4 {
          font-size: 16px;
          color: rgba(0, 0, 0, 0.7);
        }
      }
    }
  }
}

.apparel-essentials {
  .sub-header {
    @extend %sub-header;
  }
  .apparel-essentials__grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 90vh;

    column-gap: 15px;
    box-sizing: border-box;
    .apparel-essentials__item {
      position: relative;
      .apparel-essentials__img {
        width: 100%;
        object-fit: contain;
        margin-bottom: 20px;
        img {
          width: 100%;
        }
      }
      .apparel-essentials__text {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        z-index: 2;
        font-size: 20px;
        font-weight: 400;
        height: 20vh;
        position: absolute;
        top: 0;
        left: 0;
        padding: 50px;
      }
    }
  }
}
